$primary: blue;
$secondary: rgb(181, 6, 197);

// Extention
%common-h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}

// Standard font size
%font_std{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}

// Function, use looks like :
// .logo{ @include rotate(30deg) }
@mixin rotate($value){
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}


h1{
	@extend %font_std;
	color: $primary;
}


p{
	color: $primary;
}




body {
    font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	background-color: $secondary;
}

.navbar {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0vw;
	div{
		display: inline-block;
		margin: 1vw;
		font-size: 2vw;
	}
}