$primary: blue;
$secondary: rgb(181, 6, 197);
$tertiary: white;

// Extention
%common-h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}

// Standard font size
%font_std{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}

%center_text{
	//border: 3px black solid;
	text-align: center;
}

%border{
	border: 3px solid black;
}

// Function, use looks like :
// .logo{ @include rotate(30deg) }
@mixin rotate($value){
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}

*{
	@extend %font_std;
}

h1{
	color: $primary;
}

h2{

}


p{
	color: $tertiary;
}

.title{
	@extend %center_text;
}


body {
	@extend %font_std;
    font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	background-color: $secondary;
}

.navbar {
	@extend %border;
	width: 95%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0vw;
	div{
		display: inline-block;
		margin: 1vw;
		font-size: 2vw;
	}
}